.pageHeader{
    text-align: center;
    padding-bottom: 3em;
}

.list{
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.shop{
    border: 1px dashed black;
    padding: .5em;
    align-items: flex-start;
    flex-basis: 25%;
}

